/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
/* header start  */
header{
    width: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 20px;
    flex-wrap: wrap;
    flex;
}
header .logo img{
    width: 200px;
    height: 200px;
    border-radius: 39%;
    margin: 0 20px;
}
header .name{
    font-size: 2rem;
    text-align: center;
}
header .university {
    width: 378px;
    font-size: 1.5rem;
    height: 73px;
    text-align: center;
}